<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
      <form action="/campgrounds" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Add Images</label>
          <input type="file" class="form-control form-control-sm" name="image" id="image" multiple required >
        </div>
        <!-- <div class="mb-3">
          <label class="form-label" for="image">Image Url</label>
          <input class="form-control" type="text" id="image" name="campground[image]" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div> -->

        <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="price-label">$</span>
            <input id="price" type="text" class="form-control" placeholder="0.0" aria-label="price" aria-describedby="" name="campground[price]" required>
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        


        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text"  id="description" name="campground[description]" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <button class="btn btn-success">Add Campground</button>
        </div>

        <footer>
          <p><a href="/campgrounds">All Campgrounds</a></p>
        </footer>
      </form>
  </div>
</div>

